* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    color: white;
    font-family: 'Bellota', cursive;
}

/* .products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
} */

.products-container .fas {
    font-size: 25px;
    color: goldenrod;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.product-header {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid goldenrod;
    margin: 0 auto
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    border-bottom: 1px solid goldenrod;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    border-bottom: 1px solid goldenrod;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid goldenrod;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid goldenrod;
}
.product .fas{
    cursor: pointer;
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.product img{
    width: 75px;
}

.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}
.basketTotalTitle{
    width: 30%;
}
.basketTotal{
    width: 30%;
}